
@media screen and (min-width: 768px) and (max-width: 5000px){
    .sidebar__customblog{
        width: 25%;
    }
}
@media screen and (min-width: 320px) and (max-width: 1199px){
    .cont__root2 label{
        font-size: 12px!important;
    }
    #site-content{
        max-width: 100%!important;
    }
    body .footer-nav-widgets-wrapper .section-inner {
        width: calc(100% - 4rem)!important;
    }
    .home .sidebar__custom .widget_media_image img{
        margin-left: 5%!important;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .home .rpsw-post-wrp.rpsw-clearfix {
        height: 270px!important;
    }
    .home .post--top--list .rpsw-post-wrp.rpsw-clearfix {
        height: 310px!important;
    }
    .home .post--top--list .rpsw-post-wrap .rpsw-post-content  h3.rpsw-post-title a {
        font-size: 16px!important;
    }
    .home .post--top--list .rpsw-post-wrap ul.rpsw-post-categories li a {
        padding: 5px 10px;
        display: block;
        line-height: normal;
        font-size: 12px;
    }
    .home .post--top--list .rpsw-post-wrap ul.rpsw-post-categories{
        margin: 0px!important;
    }
    .home .post--top--list .rpsw-post-wrap h3.rpsw-post-title{
        padding: 0px!important;
    }
    .single-post .sidebar__customblog {
        padding-left: 15px;
        max-width: 25%!important;
    }
    #site-content{
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 15px!important;
        margin-right: 15px!important;
    }
    .category .sticky__sidebar {
        top: 0%;
        right: calc(25% - 173px);
    }
    .recent__post2{width: 60px!important;}
    .recent__post3 h4{font-size: 12px!important;}
    .home--maincontent {
        margin-left: 15px;
        margin-right: 15px;
        width: calc(75% - 30px)!important;
    }
    .home--sidebar {
        width: 22%;
    }
    .sidebar__custom .widget_media_image img {
        margin-left: 5%;
        width: 90%;
    }
    ul.primary-menu{
        margin-right: 15px;
    }
    .primary-menu-wrapper li a{
        font-size: 11px;
    }
    .header-inner{
        padding-top: 7px!important;
        padding-bottom: 7px!important;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .home .rpsw-post-wrp.rpsw-clearfix {
        height: 285px!important;
    }
    .home .post--top--list .rpsw-post-wrp.rpsw-clearfix {
        height: 252px!important;
    }
    .home .post--top--list .rpsw-post-wrap .rpsw-post-content  h3.rpsw-post-title a {
        font-size: 13px!important;
    }
    .home .post--top--list .rpsw-post-wrap ul.rpsw-post-categories li a {
        padding: 3px 8px;
        display: block;
        line-height: normal;
        font-size: 7px;
    }
    .home .post--top--list .rpsw-post-wrap ul.rpsw-post-categories{
        margin: 0px!important;
    }
    .home .post--top--list .rpsw-post-wrap h3.rpsw-post-title{
        padding: 0px!important;
    }
    .post__list img.lcp_thumbnail.wp-post-image {
        height: 60px!important;
        width: 100px!important;
    }
    body .post--top--list .lcp_catlist li a:nth-child(1) {
        left: 112px!important;
    }
    .homecat--outer {
        left: 112px!important;
    }
    .post__slider .flexslider .slides img {
        height: 207px!important;
    }
    .home .sidebar__custom .widget.widget_media_image img {
        width: 50%!important;
        margin-left: 25%!important;
    }
    #site-content{
        padding-left: 15px;
        padding-right: 15px;
    }
    .category .sticky__sidebar {
        top: 0%;
        right: calc(25% - 173px);
    }
    .single-post .sticky__sidebar {
        top: 0%;
        right: calc(25% - 173px);
    }
    .single-post .sidebar__customblog {
        padding-left: 15px;
        max-width: 25%!important;
    }
    .recent__post2{width: 60px!important;}
    .recent__post3{width: 85px!important;}
    .recent__post3 h4{font-size: 12px!important;}
    .sticky__sidebar {
        position: static!important;
        width: 100%!important;
        z-index: -1!important;
        margin-top: 20px;
    }
    .header-inner .widget {
        width: 50%!important;
    }
    .search-toggle {
        display: none!important;
    }
    .a2a_kit{
        display: none;
    }
    .main__content__area{
        padding-left: 15px;
        padding-right: 15px;
    }
    .sidebar__custom .widget_media_image img{
        width: 90%;
        margin-left: 5%!important;
    }
    .footer-nav-widgets-wrapper .footer__social a {
        padding: 0px 5px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        margin-right: 5px;
    }
    .footer-credits {
        flex-direction: column;
        text-align: center;
        margin:  0px;
    }
    .footer-copyright{
        margin-bottom: 5px;
    }
    .top__bar{
        text-align: center;
        min-height: 52px;
    }
    .site-logo.faux-heading {
        margin: 20px auto!important;
        text-align: center;
        width: 90%;
    }
    .header-inner {
        padding: 10px 10px!important;
    }
    .mobile-nav-toggle{
        margin-top: 32px;
    }
    .add__slider ul li a.link_image {
        width: 100%!important;
    }
    .add__slider ul li .flex-caption{
        width: 100%!important;
    }
    a.to-the-top{
        bottom: 76px!important;
    }
    .home .image__gallery .vc_item{
        height: 70px!important;
    }
    .home .image__gallery .vc_item img {
        height: 70px!important;
    }
    .home--maincontent {
        width: 100%!important;
    }
    .home--sidebar{
        width: 100%!important;
        position: static!important;
        margin-top: 50px;
    }
}

@media screen and (max-width: 767px) {
    .post__list img.lcp_thumbnail.wp-post-image {
        height: 70px!important;
        width: 120px!important;
    }
    body .post--top--list .lcp_catlist li a:nth-child(1) {
        left: 128px!important;
    }
    .homecat--outer {
        left: 128px!important;
    }
    .owl-stage-outer {
        width: 80%;
    }
    .single-post .post__list__loop3 {
        display: block!important;
    }
    .single-post .owl-stage-outer {
        width: 90%;
        margin: 0 5%;
    }
    #site-content{
        display: initial!important;
        max-width: 100%!important;
    }
    .main__content__blogarea{
        display: initial!important;
        max-width: 100%!important;
    }
    .post__list__loop1{
        padding-left: 15px;
        padding-right: 15px;
    }
    .sidebar__customblog {
        padding-left: 15px;
        padding-right: 15px;
    }
    .top__bar .widget_text{
        width: 100%;
    }
    .top-social-icons{
        justify-content: space-evenly!important;
    }
    #indiaTime{
        font-size: 11px!important;
        margin-bottom: 10px;
        float: left;
        text-align: center;
        width: 100%;
    }
    .mobile-nav-toggle {
        margin-right: 10px!important;
    }
    .search-toggle {
        display: none!important;
    }
    .a2a_kit{
        display: none;
    }
    .main__content__area{
        padding-left: 15px;
        padding-right: 15px;
    }
    .sidebar__custom .widget_media_image img{
        width: 90%;
        margin-left: 5%!important;
    }
    body .sticky__sidebar{
        position: static!important;
        width: 100%!important;
        margin-top: 20px;
    }
    .footer-nav-widgets-wrapper .footer__social a {
        padding: 0px 5px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        margin-right: 5px;
    }
    .footer-credits {
        flex-direction: column;
        text-align: center;
        margin:  0px;
    }
    .footer-copyright{
        margin-bottom: 5px;
    }
    .top__bar{
        text-align: center;
        min-height: 100px;
    }
    .site-logo.faux-heading {
        margin: 20px auto!important;
        text-align: center;
        width: 90%;
    }
    .header-inner {
        padding: 10px 10px!important;
    }
    .mobile-nav-toggle{
        margin-top: 32px;
    }
    .add__slider ul li a.link_image {
        width: 100%!important;
    }
    .add__slider ul li .flex-caption{
        width: 100%!important;
    }
    a.to-the-top{
        bottom: 76px!important;
    }
    .home .image__gallery .vc_item{
        height: 70px!important;
    }
    .home .image__gallery .vc_item img {
        height: 70px!important;
    }
}
@media screen and (min-width: 320px) and (max-width: 415px){
    body .post__list .lcp_catlist li a:nth-child(1){
        font-size: 13px!important;
    }
    .post__list img.lcp_thumbnail.wp-post-image {
        height: 70px!important;
        width: 120px!important;
    }
    body .post--top--list .lcp_catlist li a:nth-child(1) {
        left: 128px!important;
    }
    .homecat--outer {
        left: 128px!important;
    }
}